.chat_window {
    display: none;
}
.active_chat_item{
    background: #eaf4ff !important;
}

.chat_user_list, .chat-user-list {
    width: 300px;
}

.chat_message_cite small {
    display: block;
    font-size: .8em;
    margin-top: 5px;
    opacity: 0.8;
}

.chat_message_cite {
    display: none;
    padding: 8px;
    background:  #d6dbe0;
}

.chat_search_popup, .room_search_popup{
    display: none;
    position: absolute;
    width: 270px;
    height: 400px;
    font-size: 13px;
    border-radius: 3px;
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    margin: 5px 0 0;
    padding: 0;
    border: 0;
    z-index: 1000;
    background: #fff;
}

.chat_room_container {
    display: none;
}

.chat_popup_item {
    width: 268px;
    height: 45px;
    margin: 1px;
    display: block;
    padding: 7px;
    background: #ffffff;
    border-bottom: 1px solid #efebeb;
    -webkit-transition: opacity .5s linear 1s;
    -moz-transition: opacity .5s linear 1s;
    -o-transition: opacity .5s linear 1s;
    transition: opacity .5s linear 1s;
}

.chat_popup_item:hover {
    background: #eee;
    -webkit-transition: opacity .5s linear 1s;
    -moz-transition: opacity .5s linear 1s;
    -o-transition: opacity .5s linear 1s;
    transition: opacity .5s linear 1s;
}