<form action="/test_post" method="post">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="key[]" name="key[]" value="" >
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="value[]" name="value[]" value="">
    </div>
        <?foreach ($api_data as $k => $v){?>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="key[]" name="key[]" value="<?=$k?>" >
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="value[]" name="value[]" value="<?=$v?>">
    </div>
    <?}?>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="component" name="component" value="<?=$api_component?>">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="method" name="method" value="<?=$api_method?>">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="token" name="token" value="<?=$token?>">
    </div>
    <button class="btn btn-primary btn-lg btn-block" type="submit">Отправить</button>
</form>