<!DOCTYPE html>
<html>
<head>
	<?php echo $this->Html->charset(); ?>
	<title>Новая запись в автосервис из мобильного приложения</title>
</head>
<body>
<div style="min-height: 800px">
	<br>
	<?php echo $this->fetch('content'); ?>
	<br>
	-----------------------------------------
	<br>
</div>
</body>
</html>