<!DOCTYPE html>
<html>
<head>
	<?php echo $this->Html->charset(); ?>
	<title>Регистрация на сайте Кореана <?php site_url() ?></title>
</head>
<body>
<div style="min-height: 800px">
	<br>
	<?php echo $this->fetch('content'); ?>
	<br>
	-----------------------------------------
	<br>
</div>
</body>
</html>