<!DOCTYPE html>
<html>
<head>
	<?php echo $this->Html->charset(); ?>
	<title><?php echo L('REGISTER_ON_PROJECT') ?> <?php echo Configure::read('SITENAME') ?></title>
</head>
<body>
<div style="min-height: 800px">
	<img src="http://invitepeople.ru/img/new_design/logo.jpg">
	<br>
	<?php echo $this->fetch('content'); ?>


	<br>
	-----------------------------------------
	<br>
	<?php
	$mail_prefix = L('AUTOEMAIL_REGISTER_PREFIX');
	$mail_prefix = str_replace("__SITENAME__", "<a href='http://" . site_url() . "'>" . site_url() . "</a>", $mail_prefix);
	echo $mail_prefix;
	?>
</div>
</body>
</html>